<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE model SYSTEM "../entityXmlSchema.xsd">
<!--tableName属性不支持驼峰命名规则-->
<model>

    <!--下面都是测试表-->
    <entity tableName="teacher" tableAlias="Teacher">
        <!--alias标签是给该列取得别名-->
        <column name="teacher_id" alias="teacherId">
            <describtion>编号</describtion>
        </column>
        <column name="teacher_name" alias="teacherName">
            <describtion>姓名</describtion>
        </column>
        <column alias="teacherPros">
            <describtion>学生</describtion>
        </column>
        <column alias="teacherIcon">
            <describtion>老师头像</describtion>
        </column>
        <primary-key alias="teacherId"/>

    </entity>
    <!--定义第一个member-entity为主表-->
    <view-entity  tableAlias="TeacherUserView">
        <describetion>教师学生关联表</describetion>
        <member-entity alias="TE" tableAlias="Teacher"/>
        <member-entity alias="UL" tableAlias="userLogin"/>
        <member-entity alias="UIF" tableAlias="userInfo"/>
        <alias-all referTable="UL"></alias-all>
        <alias-all referTable="TE">
            <exclude column="teacherId"></exclude>
        </alias-all>
        <alias-all referTable="UIF"></alias-all>
        <alias  column="teacherId" alias="teacherID" referTable="TE"></alias>
        <!--默认左外连接-->
        <view-link tableAlias="TE" relTableAlias="UL" relOptional="false">
            <key-map field-name="teacherPros" rel-field-name="userId"/>
        </view-link>
        <view-link tableAlias="UL" relOptional="false" relTableAlias="UIF">
            <key-map field-name="userId" rel-field-name="userId"/>
        </view-link>
    </view-entity>

    <entity tableName="user_login" tableAlias="userLogin">
        <column alias="userId">
            <describtion>用户Id</describtion>
        </column>
        <column alias="userPassword">
            <describtion>登录密码</describtion>
        </column>
        <column alias="lastLoginTime">
            <describtion>最近一次的登陆时间</describtion>
        </column>
        <column alias="disabled">
            <describtion>账号是否被禁用（1或者Null为正常状态，2位禁用状态）</describtion>
        </column>
        <column alias="disabledEndTime">
            <describtion>禁用的截止时间</describtion>
        </column>
        <column alias="disabledStartTime">
            <describtion>禁用的开始时间</describtion>
        </column>
        <primary-key alias="userId"/>
    </entity>
    <entity tableName="user_info" tableAlias="userInfo">
        <describetion>用户信息表</describetion>
        <column alias="userId">
            <describtion>用户ID</describtion>
        </column>
        <column alias="userName">
            <describtion>用户名</describtion>
        </column>
        <column alias="userAge">
            <describtion>用户年龄</describtion>
        </column>
        <primary-key alias="userId"/>
    </entity>
</model>