<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE model SYSTEM "../entityXmlSchema.xsd">
<!--tableName属性不支持驼峰命名规则-->
<model>
    <entity tableName="post_param" tableAlias="postParam">
        <column alias="postEntity">
            <describtion>实体名</describtion>
        </column>
        <column alias="postParam">
            <describtion>实体对应的参数</describtion>
        </column>
        <primary-key alias="postEntity"/>
    </entity>

    <entity tableName="work_book" tableAlias="workBook">
        <describetion>字典表，存储系统内部的字典值</describetion>
        <column alias="parentId">
            <describtion>字典的父级</describtion>
        </column>
        <column alias="dicId">
            <describtion>字典值，保持唯一性</describtion>
        </column>
        <column alias="dicValue">
            <describtion>字典的文本描述</describtion>
        </column>
        <column alias="createTime">
            <describtion>创建时间</describtion>
        </column>
        <primary-key alias="dicValue"/>
    </entity>
    <entity tableAlias="ipBlackList" tableName="ip_black_list">
        <describetion>IP黑名单</describetion>
        <column alias="ip">
            <describtion>ip地址</describtion>
        </column>
        <column alias="ipCreateTime">
            <describtion>创建时间</describtion>
        </column>
        <primary-key alias="ip"/>
    </entity>
    <entity tableName="path_white_list" tableAlias="pathWhiteList">
        <describetion>配置可以通过的访问路径</describetion>
        <column alias="path">
            <describtion>路径信息</describtion>
        </column>
        <column alias="pathCreateTime">
            <describtion>创建时间</describtion>
        </column>
        <primary-key alias="path"/>
    </entity>
    <entity tableAlias="autoPk" tableName="auto_pk">
        <describetion>自增长主键</describetion>
        <column alias="tableAlias">
            <describtion>表别名</describtion>
        </column>
        <column alias="primaryKeyValue">
            <describtion>主键值</describtion>
        </column>
        <primary-key alias="tableAlias"/>
    </entity>
</model>