<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<table>
    <tr><td><a href="localTest/exportZhiyuUser">导出客户表</a></td></tr>
    <tr><td><a href="localTest/exeportProducts">导出产品信息表</a></td></tr>
    <tr><td><a href="localTest/exportNetValue">导出产品对应的净值表</a></td></tr>
    <tr><td><a href="localTest/exportReport">导出产品报告表</a></td></tr>
    <tr><td><a href="localTest/exportOrder">导出订单信息表</a></td></tr>
    <tr><td><a href="localTest/exportOrderRecord">导出产品记录表</a></td></tr>

</table>
</body>
</html>